.grid-block,
.main,
.post,
.comments li,
.comment-form {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

pre{
     background: #fff;
     color: #505050;
     border: none;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     white-space: pre-wrap;
}

body {
    background: #eee;
    color: #666666;
    padding-top: 60px; /** to compensentate top navbar*/
}

.navbar {
    margin-bottom: 10px;
}
/* line 32, ../sass/style.scss */

.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

#spinner {
    height: 300px;
}

.post {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */

    *zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before,
.post:after {
    content: "";
    display: table;
}

.post:after {
    clear: both;
}

.post.invisible {
    opacity: 0;
}

.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.post.animate {
    -webkit-transition: all 300ms 0ms ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}

.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.post .post-content {
    float: left;
}

.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.post .post-content p {
    margin: 0;
}

.post .discuss {
    display: block;
    /**float: right;*/

    margin-top: 7px;
}

.comments {
    list-style-type: none;
    margin: 0;
}

.comments li h4 {
    font-size: 16px;
    margin: 0;
}

.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}

.comments li h4 a {
    font-size: 12px;
}

.comments li p:last-child {
    margin-bottom: 0;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.posts .spinner-container {
    position: relative;
    height: 100px;
}

.jumbotron {
    text-align: center;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.wrapper {
    display: inline-bloc;
    position: relative;
}

.btn-inside-input {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-left: 15;
}

.wrapper {
    border: 1px solid #999;
    width: 800px;
    height: 110px;
}

.wrapper textarea {
    border: none;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

.wrapper textarea:focus {
    outline: none;
}

.controls {
    text-align: right;
    margin-top: -6px;
}

.btn-inside-input2 {
    border: 1px solid #999;
    margin: 5px;
    color: rgb(77, 77, 77);
    border-width: 1px 1 1 1px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.bottom-margin {
    margin-bottom: 15px;
}

.image-cropper {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    background-position-y: 25%
}

.icon-success {
    color: #5CB85C;
}

.icon-danger {
    color: #F3A1A1;
}

.icon-info {
    color: #0088CC;
}

.icon-warning{
    color:#F9A939;
}

.myFileInput {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

textarea { resize:vertical; }

.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.author {
    color:#000000;
}

.toggle-reply {

    color:#000000;
}

.toggle-reply, .toggle-reply:hover {
    text-decoration:none;
   /**font-weight:bold*/
}




