<template name="postItem">
    <div class="post text-center">
        <div class="center-block">
            <h3><a href="{{url}}">{{title}}</a> <span class="badge">{{monthAndYear}}</span> </h3>
            <p>
                {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="glyphicon glyphicon-edit">Edit</a>{{/if}}
            </p>
            <p>
                submitted by {{author}},
                <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
            </p>
            {{#with images}}
            <!-- the following {{url}} comes from the images handler -->
            <img src="{{url}}" class="effect1 image-cropper center-block bottom-margin" /> {{/with}}
            <a href="{{pathFor 'postPage'}}" class="btn btn-default">Enter this discussion</a>
        </div>
    </div>
</template>
