<template name="postEdit">
    <div>
    <form class="main form">

        <div class="form-group {{errorClass 'title'}}">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control" />
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        </div>

        <div class="form-group {{errorClass 'material'}}">
            <label class="control-label" for="url">Material</label>
            <div class="controls">
                <textarea name="material" id="material" class="form-control" rows="15" value="{{material}}" placeholder="Enter the material for this session..."></textarea>
                <span class="help-block">{{errorMessage 'material'}}</span>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary submit" />
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete post</a>
    </form>
    </div>
</template>

