<template name="postSubmit">
    <form class="main form">

        <div class="form-group {{errorClass 'title'}}">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control" />
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>

            <div class="form-group {{errorClass 'material'}}">
                <label class="control-label" for="material">Material</label>
                <div class="controls">
                    <textarea name="material" id="material" class="form-control" rows="15" placeholder="Enter the material for this session..."></textarea>
                    <span class="help-block">{{errorMessage 'material'}}</span>
                </div>
            </div>

            <div style="position:relative;">
                <a class='btn btn-primary' href='javascript:;'>
			 Add an image...
			<input type="file" class='myFileInput'  name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a> &nbsp;
                <span class='label label-info' id="upload-file-info"></span>
                <span class="help-block">{{errorMessage 'imageId'}}</span>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</template>
