<template name="postPage">
    <h3>{{title}}</h3>
    <textarea name="material" id="material" value="{{material}}" class="form-control bottom-margin" rows="15" ></textarea>

    <ul class="comments">
        {{#each comments}}
                {{> commentItem}}
        {{/each}}
    </ul>

    {{#if currentUser}} {{> commentSubmit}} {{else}}
    <p>Please log in to leave a comment.</p>
    {{/if}}
</template>
