<template name="commentItem">
    <li>
        <h4>
            <span class="author">{{author}}</span>
            <span class="date">on {{submittedText}}</span>
        </h4>      
       
        <p>
            <pre>{{body}}</pre>
        </p>
        
        {{#unless currentUser}}    
            <p>Please log in to leave a comment.</p>
        {{/unless}}
    </li>
</template>





