<template name="commentSubmit">
    <form name="comment" class="comment-form form">
        <div class="form-group {{errorClass 'body'}}">
            

               
              <textarea name="comment-body" id="comment-body" class="form-control" rows="3" placeholder="Enter to submit comment or shift-enter to insert a line break"></textarea>
                <span class="help-block">{{errorMessage 'body'}}</span>


        </div>
        
         <input type="submit" value="Add Comment" class="btn btn-primary" />

    </form>
</template>
