<!-- Adapted from the book Discover Meteor - Building Real-Time JavaScript Web Apps p.165-->
<template name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'postsList'}}">Free School
                  <span class="glyphicon glyphicon-list-alt icon-info"></span>
                </a>

            </div>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                    <li><a href="{{pathFor 'postSubmit'}}">Submit New
                        <span class="glyphicon glyphicon-new-window icon-warning"></span>

                        </a>
                    </li>
                    {{#if currentlyOpenedDiscussion}}
                    <li><a href="{{currentlyOpenedDiscussion}}">Last Opened
                         <span class="glyphicon glyphicon-eye-open icon-danger"></span>
                        </a>

                    </li>
                    {{/if}}

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" name="filterByYear" class="form-control" placeholder="Filter by year...   e.g. 2014">
                        </div>
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </form>

                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>
